/*
 * Controls the icons that are displayed according to the specified rules, 
 * depending on the validity of the data entered
 */
/*
 "zpStatusImg" class images for form fields -- apply appropriate rules here.
 The script auto-applies one of each of these CLASS attributes to a series of
	nested <span>s with an innermost .zpStatusImg class <span> we style:
 1) "zpIsRequired" or "zpNotRequired".
 2) "zpIsEmpty" or "zpNotEmpty".
 3) "zpIsEditing" or "zpNotEditing".
 4) "zpIsValid" or "zpNotValid".
	5) Always "zpStatusImg", this is the one styled.
*/

.zpFormWinxp span.zpStatusImg {
 padding: 0px 12px;
 height: 18px;
 line-height: 18px;
 background-repeat: no-repeat;
 background-position: center 2px;
 opacity: 0.66;
 filter: alpha(opacity=66);
 margin-left:5px;
 display: inline-block;
 float: none;
 padding-top: 1px;
 padding-bottom: 6px;
 vertical-align: top;
}

.zpFormWinxp .zpIsEditing span.zpStatusImg {
 opacity: 1.0;
 filter: alpha(opacity=100);
}

.zpFormWinxp .zpIsRequired span.zpStatusImg {
 background-image: url(icons/required.gif);
}


.zpFormWinxp .zpIsRequired .zpNotEmpty .zpNotValid span.zpStatusImg {
 background-image: url(icons/required_invalid.gif);
}

.zpFormWinxp .zpNotEmpty .zpNotValid span.zpStatusImg {
 background-image: url(icons/invalid.gif);
}

.zpFormWinxp .zpIsValid span.zpStatusImg {
 background-image: url(icons/validated.gif);
}

/*
 * Controls the look and feel of the form
 */

.zpFormWinxp .errOutput{
	background-color: #C70032;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	color: white;
	display: none;
}

.zpFormWinxp .fieldError {
	font-weight: bold;
}

.zpFormWinxp input {
	background:#FFFFFF;
	border: solid 1px #7F9DB9;
	margin-bottom: 5px;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	height: 19px;
	line-height: 19px;
}

.zpFormWinxp fieldset{
	line-height: 100px;
}

.zpFormWinxp textarea {
	background:#FFFFFF;
	border: solid 1px #7F9DB9;
	margin-bottom: 5px;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: 17px;
}

.zpFormWinxp .zpFormLabel {
	padding-right: .2em;
	width: 10em;
	margin-bottom: 5px;
	float: left;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: 19px;
}

.zpFormWinxp .zpConsole {
	background-color: #dddddd;
	width:80%;
	border: 1px solid black;
	padding:.3em;
}

.zpFormWinxp {
	background: #ECE9D8;
	border: solid 1px black;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	padding-top:10px;
}

.zpFormWinxp .zpFormContent{
	background: url("winxp/xpform.jpg") repeat-x bottom #FCFCFE;
	border: solid 1px #919b9c;
	margin: 0px 10px;
	padding: 0px 10px 10px 10px;
}

* html .zpFormWinxp .zpFormContent{
	padding-top: 10px;
}

.zpFormWinxp .button{
	background: url("winxp/button_xp.gif");
	height: 21px;
	width: 73px;
	border: none;
	line-height: 16px;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	margin-left: 10px;
}

.zpFormWinxp .zpFormButtons{
	text-align: right;
	margin: 10px;
}

.zpFormWinxp fieldset{
	margin: 10px 0px;
	padding: 10px;
	border: solid 1px #D0D0BF;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

* html .zpFormWinxp fieldset{
	padding-top: 10px;
}

.zpFormWinxp legend{
  color: #0046DC;
  padding: 3px 5px;
  font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

* html .zpFormWinxp legend{
  margin-bottom: 10px;
}

.zpFormWinxp fieldset{
	line-height: 25px;
}

.zpFormWinxp .zpFormError{
  color: #F73460;
  padding-left: 10px;
  font-weight: normal;
  vertical-align: top;
  line-height: 20px; 
  display: inline-block
}

.zpFormWinxp .multipleButton{
	margin-left: 10px; 
	width: 24px;	
	font-size: 15px;
	vertical-align: top;
	margin-top: 2px;
	text-align: center;
	line-height: 10px;
	padding-top: 1px;
}

.zpFormWinxp select {
	background:#FFFFFF;
	border: solid 1px #7F9DB9;
	margin-bottom: 5px;
	font-family: "MS Sans Serif" , Arial, Tahoma, Verdana, sans-serif;
	height: 19px;
	line-height: 19px;
}
